{{template "base" .}}

{{define "content"}}
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Make Reservation</h1>

          <form action="" method="post" class="needs-validation" novalidate>
            <div class="mt-5">
              <label for="first_name" class="form-label">First Name</label>
              <input required autocomplete="off" type="text"
                class="form-control" id="first_name"
                name="first_name" aria-describedby="firstNameHelp">
              <div class="invalid-feedback">
                <small id="first_name" class="form-text text-muted">Enter your first name</small>
              </div>
            </div>

            <div class="">
              <label for="last_name" class="form-label">Last Name</label>
              <input required autocomplete="off" type="text"
                class="form-control" id="last_name"
                name="last_name" aria-describedby="lastNameHelp">
              <div class="invalid-feedback">
                <small id="last_name" class="form-text text-muted">Enter your last name</small>
              </div>
            </div>

            <div class="">
              <label for="email_address" class="form-label">Email Address</label>
              <input required autocomplete="off" type="email"
                class="form-control" id="emailAddress"
                name="email_address" aria-describedby="emailAddressHelp">
              <div class="invalid-feedback">
                <small id="email_address" class="form-text text-muted">Enter your email address</small>
              </div>
            </div>

            <div class="">
              <label for="phone_number" class="form-label">Phone Number</label>
              <input required autocomplete="off" type="text"
                class="form-control" id="phone_number"
                name="phone_number" aria-describedby="phoneNumberHelp">
              <div class="invalid-feedback">
                <small id="phone_number" class="form-text text-muted">Enter your Phone Number</small>
              </div>
            </div>

            <hr />

            <input type="submit" class="btn btn-primary" value="Make Reservation"></input>
          </form>
        </div>
      </div>
    </div>
{{end}}